body {
    padding-bottom: 30px;
}
.councilor-photo {
    width: 55%;
}
.page-header {
    margin-top: 0;
}
ul.content {
    padding-left: 0;
}
ul.content li {
    font-size: 1.3em;
    list-style: none;
}
.analysis {
    margin-top: 0;
}
.header-searchbar {
    margin-top: 4px;
}
.header-searchbar input {
    padding-top: 0;
    padding-bottom: 0;
    height: 28px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
ul.content li a {
    text-decoration: none;
    color: #428bca;
}
ul.content li a:hover {
    color: #00a5e2;
}
.nav-style {
    background-color: #444444;
    border-radius: 0;
    border: 0;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #444444;
    background-color: #ffcc00;
    font-weight: bold;
    cursor: default;
}
.navbar-default .navbar-nav > li > a:focus{
    color: white;
    background-color: #444444;
    cursor: default;
}
.navbar-default .navbar-nav > li > a:hover:focus{
    color: #444444;
    background-color: #ffcc00;
    font-weight: bold;
    cursor: default;
}
ul.dropdown-menu {
    padding: 0;
    border: 0;
}
.dropdown-menu > li {
    background-color: #444444;
}
.dropdown-menu > li > a {
    color: white;
}
.dropdown-menu > li > a:hover {
    color: #444444;
    background-color: #ffcc00;
    font-weight: bold;
}
.dropdown-menu > li > a:focus {
    color: white;
    background-color: #444444;
}
.dropdown-menu > li > a:hover:focus {
    color: #444444;
    background-color: #ffcc00;
    font-weight: bold;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:hover{
    cursor: default;
    color: white;
}
.navbar-default .navbar-brand:focus{
    cursor: default;
    color: white;
}
.navbar-default .navbar-brand:hover:focus{
    cursor: default;
    color: white;
}
