<!DOCTYPE>
<html ng-app="app">

<head>
    <title>Council Monitoring</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/c3.css">
    <link rel="stylesheet" href="css/radar-chart.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body ng-controller="AppCtrl">
    <nav class="navbar navbar-default nav-style" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">評鑑立委</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#">內政</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee1" ng-hide="councilor.IsResignation || councilor.LegislatorId == 29" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">外交國防</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee2" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">經濟</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee3" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">財政</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee4" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">教育文化</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee5" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">交通</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee6" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">司法法制</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee7" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">社福還衛</a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="councilor in councilorsByCommittee8" ng-hide="councilor.IsResignation" ng-click="fetchIndividual(councilor.LegislatorId); updateNews(councilor.LegislatorId)">
                                <div class="party-pic" ng-class="{blue: councilor.Party === '中國國民黨', green: councilor.Party === '民主進步黨', orange: councilor.Party === '親民黨', black: councilor.Party === '無黨籍', red: councilor.Party === '無黨團結聯盟', none: councilor.Party === '台灣團結聯盟',}"></div>
                                <a href="#" ng-bind="councilor.FullName"></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="pull-right col-md-3 header-searchbar">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchTarget" placeholder="請輸入委員姓名" ng-change="suggest()">
                            <div class="input-group-btn">
                                <button class="btn btn-success" ng-click="search(searchTarget);"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="pull-right col-md-3 suggestions" ng-show="suggestions">
                        <li ng-repeat="suggestion in suggestions" ng-click="setTarget(suggestion);" ng-bind="suggestion"></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img ng-src="{{individual.ProfileImage}}" class="thumbnail councilor-photo">
                <h1 ng-bind="individual.FullName"></h1>
                <h1 ng-bind="individual.EnglishName"></h1>
                <h1 ng-bind="individual.Party"></h1>
                <hr>
                <ul class="content">
                    <li ng-repeat="committee in individual.Committees">
                        <div href="#" ng-click="meetingSessionClick($event, committee)" 
                        ng-class="{clickable: !checkAnalysis(individual.LegislatorId, committee.MeetingSession)}">第8屆第<span ng-bind="committee.MeetingSession"></span>會期: <span ng-bind="committee.CommitteeName"></span>
                        </div>
                        <span class="label label-success" ng-show="committee.Type == 1">優秀</span>
                        <span class="label label-warning" ng-show="committee.Type == 2">待觀察</span>
                        <span class="label label-info" ng-hide="committee.MeetingSession !== current.target">目前</span>
                    </li>
                </ul>
                <h2>聯絡方式</h2>
                <hr>
                <ul class="content">
                    <li ng-repeat="contact in individual.Contacts" ng-show="contact.Type === '電話'">
                        <div ng-bind="contact.Name" class="contact"></div>
                        <div ng-bind="contact.Value" class="contact"></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <h2 class="text-center analysis">整體分析</h2>
                <div class="chart-wrapper">
                    <div id="radar-chart" class="text-center"></div>
                </div>

                <h2 class="text-center">新聞評價</h2>
                <div class="chart-wrapper">
                    <div id="chart"></div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/d3.js" charset="utf-8"></script>
    <script src="js/radar-chart.js"></script>
    <script src="js/c3.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>


</body>

</html>
